---
- name: Install specified Python requirements
  become: true
  become_user: "{{ dotfiles_system_username }}"
  ansible.builtin.pip:
    requirements: "{{ role_path }}/files/python-pip/requirements.txt"
    extra_args: --user
