# Setup default umask umask 022

# Path to your oh-my-zsh configuration.
ZSH=$HOME/.oh-my-zsh

# Some env variables
export GOPATH=$HOME/.go
export PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/X11/bin:/usr/local/bin:/usr/local/sbin:/usr/local/share/npm/bin:/usr/local/go/bin:$GOPATH/bin:$HOME/.local/bin:$HOME/.rvm/bin
export PLATFORM="linux"
export LC_ALL="en_US.UTF-8"
export EDITOR="vim"
export PY_COLORS=1
export PYTHONDONTWRITEBYTECODE=1

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="robbyrussell"

# Uncomment following line if you want red dots to be displayed while waiting for completion
COMPLETION_WAITING_DOTS="true"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
plugins=(git)

# Oh-my-zsh settings
unsetopt correct

# Load Oh-my-zsh environment
source $ZSH/oh-my-zsh.sh

# Load some useful aliases
[[ "${HOME}/.shell_aliases" ]] && source "${HOME}/.shell_aliases"

# Load shell env variables
[[ "${HOME}/.shell_envs" ]] && source "${HOME}/.shell_envs"

# Load work directories
[[ "${HOME}/.work_dirs" ]] && source "${HOME}/.work_dirs"

# Load some useful functions
[[ "${HOME}/.shell_funcs" ]] && source "${HOME}/.shell_funcs"

# Enables autocompletion
[[ "${HOME}/.shell_autocomp" ]] && source "${HOME}/.shell_autocomp"
