[core]
  filemode = false
[user]
  name = {{ dotfiles_git_username }}
  email = {{ dotfiles_git_user_email }}
[credential]
  helper = cache --timeout=604800
[diff "bin"]
  textconv = hexdump -v -C
[credentials]
  helper = store
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[difftool "vimdiff"]
  cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = vimdiff
[difftool]
  promt = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[alias]
  co = checkout
  st = status
  com = checkout master
  code = checkout develop
  cos = checkout staging
  plog = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  d = -p diff
  dt = difftool
  ds = diff --stat
  mt = mergetool
