{{ ansible_managed | comment }}

k9s:
  liveViewAutoRefresh: false
  screenDumpDir: {{ setup_system_user_home }}/.local/state/k9s/screen-dumps
  refreshRate: 2
  maxConnRetry: 5
  readOnly: false
  noExitOnCtrlC: false
  skipLatestRevCheck: false
  disablePodCounting: false
  ui:
    skin: {{ setup_k8s_k9s_ui_skin }}
    enableMouse: true
    headless: false
    logoless: true
    crumbsless: false
    reactive: false
    noIcons: false
  shellPod:
    image: {{ setup_k8s_k9s_shell_pod_image }}
    namespace: {{ setup_k8s_k9s_shell_pod_namespace }}
    limits:
      cpu: 100m
      memory: 100Mi
  imageScans:
    enable: false
    exclusions:
      namespaces: []
      labels: {}
  logger:
    tail: 100
    buffer: 5000
    sinceSeconds: -1
    fullScreen: false
    textWrap: true
    showTime: true
  thresholds:
    cpu:
      critical: 90
      warn: 70
    memory:
      critical: 90
      warn: 70
