#!/usr/bin/env bash

function __show_cert() {
  local srv=$1
  local port=${2-443}
  echo | openssl s_client -showcerts -servername "$srv" -connect "${srv}:${port}" 2>/dev/null | openssl x509 -inform pem -noout -text
}

function __passgen() {
  local size=${1-32}
  strings /dev/random | grep -o "[[:alnum:]]" | head -n "$size" | tr -d "\n" && echo
}

function __kx() {
  kubectl exec -it "$@" -- /bin/bash
}
