## Common
##
alias ps="ps auxww"
alias top="bpytop"
alias ls="exa"
alias df="duf -only local"

## Kubectl
##
alias k="kubectl"
alias kapp="kubectl apply"
alias kde="kubectl delete"
alias kl="kubectl logs"
alias kd="kubectl describe"

## Yandex
##
alias ycs3="aws s3 --endpoint-url=https://storage.yandexcloud.net"
