# Common
alias df="duf -only local"
alias ll="exa --long --header"
alias ls="exa"
alias lt="exa --tree"
alias ps="ps auxww"
alias top="bpytop"

# Kubectl
alias k="kubectl"
alias kapp="kubectl apply"
alias kd="kubectl describe"
alias kde="kubectl delete"
alias kl="kubectl logs"

# Yandex
alias ycs3="aws s3 --endpoint-url=https://storage.yandexcloud.net"
