# Common
alias :c="clear"
alias :df="duf -only local"
alias :f5="source $HOME/.zshrc"
alias :grep="grep -n --color"
alias :ll="exa --long --header"
alias :ls="exa"
alias :lt="exa --tree"
alias :m="cmatrix -abs"
alias :mkdir="mkdir -pv"
alias :myip="curl ifconfig.me && echo"
alias :ping="ping -c 3" 
alias :ps="ps auxww"
alias :top="bpytop"
alias :x="exit"
alias :tk="tmux kill-server"
alias :rsyncall="sudo rsync -avHK --sparse --delete --exclude='*.pid' --rsync-path='sudo rsync'"

# Kubectl
alias :k="kubectl"
alias :kapp="kubectl apply"
alias :kd="kubectl describe"
alias :kde="kubectl delete"
alias :kl="kubectl logs"

# Yandex
alias :ycs3="aws s3 --endpoint-url=https://storage.yandexcloud.net"
