#!/usr/bin/env bash

function __show_cert_text() {
  local srv=$1
  local port=${2-443}
  echo | openssl s_client -showcerts -servername "$srv" -connect "${srv}:${port}" 2>/dev/null | openssl x509 -inform pem -noout -text
}

function __show_cert_chain() {
  local srv=$1
  local port=${2-443}
  local verify=${3-5}
  echo | openssl s_client -verify "$verify" -servername "$srv" -connect "${srv}:${port}" 2>/dev/null | awk '/Certificate chain/,/---/'
}

function __passgen() {
  local size=${1-32}
  strings /dev/random | grep -o "[[:alnum:]]" | head -n "$size" | tr -d "\n" && echo
}

function __kx() {
  kubectl exec -it "$@" -- /bin/bash
}

function __curl_profile() {
  local domain=$1
  curl -w @- -o /dev/null -s $domain <<EOF
     time_namelookup:  %{time_namelookup}\n
        time_connect:  %{time_connect}\n
     time_appconnect:  %{time_appconnect}\n
    time_pretransfer:  %{time_pretransfer}\n
       time_redirect:  %{time_redirect}\n
  time_starttransfer:  %{time_starttransfer}\n
                     ----------\n
          time_total:  %{time_total}\n
EOF
}
