[Unit]
Description=Yandex.Disk CLI
After=network.target

[Service]
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitMEMLOCK=infinity
LimitNOFILE=64000
LimitNPROC=64000
TasksMax=infinity
User={{ setup_system_username }}
Groupt={{ setup_system_user_group }}
ExecStart=/usr/bin/yandex-disk --config={{ setup_yc_disk_config_dir }}/config.cfg --no-daemon

[Install]
WantedBy=multi-user.target
