[Unit]
Description=Yandex.Disk CLI
After=network.target

[Service]
TasksMax=infinity
User={{ dotfiles_system_username }}
Group={{ dotfiles_system_user_group }}
ExecStart=/usr/bin/yandex-disk --config={{ dotfiles_yc_disk_config_dir }}/config.cfg --dir={{ dotfiles_yc_disk_dir }} --exclude-dirs={{ dotfiles_yc_disk_exclude_dirs }} --no-daemon

[Install]
WantedBy=multi-user.target
