ansible==8.2.0
ansible-compat==2.2.5
ansible-core==2.15.2
ansible-lint==6.16.2
arrow==1.2.2
attrs==22.1.0
binaryornot==0.4.4
black==23.7.0
boto3==1.26.37
botocore==1.29.37
bpytop==1.0.68
bracex==2.3.post1
Cerberus==1.3.2
charset-normalizer==2.1.1
click-help-colors==0.9.1
commonmark==0.9.1
cookiecutter==2.1.1
docker==6.1.3
enrich==1.2.7
exceptiongroup==1.1.3
filelock==3.8.0
flake8==6.1.0
iniconfig==1.1.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
jsonschema==4.17.3
mccabe==0.7.0
molecule==4.0.4
molecule-docker==2.1.0
mypy-extensions==0.4.3
packaging==23.1
pathspec==0.9.0
platformdirs==2.5.4
pluggy==1.0.0
psutil==5.9.4
pycodestyle==2.11.0
pyflakes==3.1.0
Pygments==2.16.1
pyrsistent==0.18.1
pytest==7.4.0
python-slugify==6.1.2
requests==2.31.0
resolvelib==0.8.1
rich==12.5.1
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
selinux==0.2.1
subprocess-tee==0.4.1
text-unidecode==1.3
tomli==2.0.1
wcmatch==8.4
websocket-client==1.3.3
yamllint==1.32.0
